@charset "utf-8";.mar-top0{margin-top:0px;}
.mar-top100{margin-top:100px;}
.project-content{width:100%;background:#f7f7f7;padding-top:20px;padding-bottom:30px;}
.project-cont{border:1px solid #7fb9ff;margin-top:10px;margin-bottom:10px;float:left;width:100%;}
.project-pic{border:1px solid #7fb9ff;margin:0 15px 0 0;padding:0px;width:95%;height:180px;}
.project-pic img{margin:0px;padding:0px;width:100%;height:100%;margin:0px;}
.project-pic .project-title{background:rgba(0,0,0,0.7);padding:8px;margin:0px;position:absolute;bottom:0px;width:94%;color:#fff;font-size:16px;text-align:center;}
h4.project-head{font-size:20px;margin:25px 0 8px;float:left;}
.mr8{margin-right:8px;}
.pro-white{background:#fff;padding:10px;margin-bottom:20px;width:100%;font-size:16px;}
.font13{font-size:13px}
.pro-title{font-size:16px;font-weight:600;margin:0 0 10px;padding:0 0 10px;line-height:1.6em;}
#toTop{display:none;text-decoration:none;position:fixed;bottom:3%;right:3%;overflow:hidden;width:44px;height:44px;border:none;text-indent:100%;background:url("../images/move-up.png") no-repeat 0px 0px;z-index:999;}
#toTopHover{width:44px;height:44px;display:block;overflow:hidden;float:right;opacity:0;-moz-opacity:0;filter:alpha(opacity=0);}
@media only screen and (min-width:1120px) and (max-width:1279px){}
@media (min-width:1440px) and (max-width:1920px){}
@media (min-width:1280px) and (max-width:1440px){}
@media (min-width:768px) and (max-width:1023px){.mar-top100{margin-top:165px;}
.project-pic{height:160px;width:95%;}
}
@media only screen and (min-width:320px) and (max-width:767px){.mar-top100{margin-top:120px;}
.pro-white{background:#fff;padding:10px;margin-bottom:20px;width:100%;font-size:16px;display:inline-block;}
h4.project-head{font-size:20px;margin:25px 0 8px;float:left;text-align:center;}
.project-pic{position:relative;border:1px solid #7fb9ff;margin:0 0px 0 0;padding:0px;height:160px;width:100%;}
.project-pic .project-title{width:100%;}
}