/* floating box style */
 
#contact_form_float.floating-form {
	max-width: 350px;
	padding: 15px 15px 10px 15px;
	font: 14px Arial, Helvetica, sans-serif;
	background: #42A2CE;
	background-size: cover;
	background-position:center center;
	background-repeat: repeat;
	/*border: 1px solid #ddd;*/
	border: 2px solid #42a2ce;
	position: fixed;
	top:50px;
	box-shadow: -2px -0px 8px rgba(43, 33, 33, 0.06);
	-moz-box-shadow: -2px -0px 8px rgba(43, 33, 33, 0.06);
	-webkit-box-shadow: -2px -0px 8px rgba(43, 33, 33, 0.06);
	z-index: 999;
	clear: both;
	margin-top: 100px;
	width: 350px;
	min-height:400px;
}
form {
	margin-bottom: 0px;
}
#contact_form_float .contact-opener {
	position: absolute;
	right: -95px;
	transform: rotate(90deg);
	top: 35%;
	background-color: #216288;
	padding: 9px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
	cursor: pointer;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	box-shadow: -2px -0px 8px rgba(43, 33, 33, 0.06);
	-moz-box-shadow: -2px -0px 8px rgba(43, 33, 33, 0.06);
	-webkit-box-shadow: -2px -0px 8px rgba(43, 33, 33, 0.06);
	margin-top: 40px;
}
 #contact_form_float .floating-form-heading {
    font-weight: bold;
    /* font-style: italic; */
    /* border-bottom: 2px solid #ddd; */
    margin-bottom: 10px;
    font-size: 16px;
    color: #999;
    padding-bottom: 3px;
    text-align: center;
    /* width: 100%; */
}
#contact_form_float.floating-form label {
	display: block;
	margin: 5px 5px 5px 0px;
}
#contact_form_float.floating-form label > span {
	width: 100%;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-bottom: 10px;
	padding-right: 5px;
	color: #fff;
}
#contact_form_float.floating-form span.required {
	color: red;
}
#contact_form_float .floating-form .tel-number-field {
	width: 40px;
	text-align: center;
}
#contact_form_float.floating-form .long {
	width: 100%;
}
#contact_form_float.floating-form input.input-field {
	width: 100%;
}

#contact_form_float.floating-form input.input-field,  #contact_form_float.floating-form .tel-number-field,  #contact_form_float.floating-form .textarea-field,  #contact_form_float.floating-form .select-field { 
	width:96%;	
   padding:8px 0px 8px 8px; 
   margin-bottom:7px;
   color: #2e2e2e;
   line-height:20px;	
}
::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc; 
}

:-ms-input-placeholder {  
   color: #ccc; 
}

#contact_form_float.floating-form .input-field:focus,  #contact_form_float.floating-form .tel-number-field:focus,  #contact_form_float.floating-form .textarea-field:focus,  #contact_form_float.floating-form .select-field:focus {
	border: 1px solid #488ecc;
}
#contact_form_float.floating-form .textarea-field {
	height: 40px;
	width: 96%;
}
#contact_form_float.floating-form input[type="button"],  #contact_form_float.floating-form input[type="submit"], #contact_form_float .contact-opener {
	background-color:#42a2ce;;
	border: 1px solid #42a2ce;;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	/*margin: 0;*/
	text-decoration: none;
	font: 18px 'Roboto', sans-serif;
}
#contact_form_float.floating-form input[type="button"]:hover,  #contact_form_float.floating-form input[type="submit"]:hover {
	background-color:#000;
        
}
#contact_form_float .contact-opener{ background-color:#FF4514;}
#contact_form_float.floating-form .success {
	background: #D8FFC0;
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 5px 0px;
	border: none;
	font-weight: bold;
	color: #2E6800;
	border-left: 3px solid #2E6800;
}
#contact_form_float.floating-form .error {	
    width: 91%;
	border-radius: 5px;
	background: #FFE8E8;
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 5px 0px;
	color: #FF0000;
}
