@charset "utf-8";
/* CSS Document "Montserrat", Helvetica, Arial, sans-serifx*/
.search-cont{min-height:800px; margin-top:105px;}
.seacrh-content {
    float: left;
    width: 100%;
    /*background: url(../images/b1.jpg) bottom left no-repeat, url(../images/b2.jpg) no-repeat bottom right;*/
}
.none{display: none;}
.search-cont-left{background:#f7f7f7; padding-top: 10px; flex: 1; -webkit-flex:1;padding-bottom: 130px; }
.search-cont-right{background:#fff; padding-top: 10px;flex: 1; -webkit-flex:1;}
.divider{float:left; width:100%; border-bottom:1px solid #c7c7c7; margin-top:5px;}
.price-cont{padding: 10px 0;}
.price-cont .input{border:0; color:#00aac1; box-shadow: none; padding:0; margin: 0 0 15px; background: transparent; font-weight:600;}
.com-marg{margin-bottom: 10px;}

.tab-cont-booking .left-box {
    flex: 1;
    -webkit-flex: 1;
    padding: 5px 10px;
    background: #fff;
    min-height: 200px;
    min-width: 78%;
    box-shadow: -1px -1px 11px -2px #888 inset;
}
.tab-cont-booking .right-box {
    min-width: 22%;
    flex: 1;
    -webkit-flex: 1;
    padding: 5px 10px;
    background: white;
    box-shadow: 0 0 6px #888 inset;
}

/*****************************************Radio button CSS Start Here***************************/
.check-radio{display: block;position: relative;padding-left: 20px;margin-bottom: 15px;margin-top: 15px;cursor: pointer;font-size: 13px; font-weight: 400; padding-top: 1px;}
.check-radio input[type="checkbox"],input[type="radio"] {position: absolute;z-index: -1;opacity: 0; padding: 0}
.check-radio-indicater{position: absolute;top: 5px;left: 0;height: 14px;width: 14px;background: #fff;border: 1px solid #888; border-radius: 2px;}
.ta-radio .check-radio-indicater {border-radius: 50%;}
.check-radio:hover input ~ .check-radio-indicater,
.check-radio input:focus ~ .check-radio-indicater {background: #ccc;}
.check-radio input:checked ~ .check-radio-indicater {background: #fff;}
.check-radio:hover input:not([disabled]):checked ~ .check-radio-indicater,
.check-radio input:checked:focus ~ .check-radio-indicater{background: #fff;}
.check-radio input:disabled ~ .check-radio-indicater {background: #e6e6e6;opacity: 0.6;pointer-events: none;}
.check-radio-indicater:after {content: '';position: absolute;display: none;}
.check-radio input:checked ~ .check-radio-indicater:after {display: block;}
.ta-checkbox .check-radio-indicater:after {left: 4px;top: 0px;width: 5px;height: 10px;border: solid #124680;border-width: 0 2px 2px 0;transform: rotate(40deg);}
.ta-checkbox input:disabled ~ .check-radio-indicater:after {border-color: #7b7b7b;}
.ta-radio .check-radio-indicater:after {left: 3px;top: 2.8px;height: 6px;width: 6px;border-radius: 50%;background: #36474f; border: 1px solid #36474f;}
.ta-radio input:disabled ~ .check-radio-indicater:after {background: #7b7b7b;}
.fl{float:left}
.fr{float:right}
.mar-left10{margin-left:10px; }
.font16{font-size: 16px;}

.bootstrap-select .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box
}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"] {
    float: none;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 0;
    margin-top: 10px;
}
.form-search .bootstrap-select.btn-group, .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group {
    margin-bottom: 0;
}
.bootstrap-select.form-control {
    margin-bottom: 0;
    padding: 0;
    border: none;
}
.bootstrap-select.btn-group.pull-right, .bootstrap-select.btn-group[class*="span"].pull-right, .row-fluid .bootstrap-select.btn-group[class*="span"].pull-right {
    float: right;
}
.input-append .bootstrap-select.btn-group {
    margin-left: -1px;
}
.input-prepend .bootstrap-select.btn-group {
    margin-right: -1px;
}
.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    /*    width: 220px;*/
    width: 100%;
}
.bootstrap-select {
    /*width: 220px\9; IE8 and below*/
    width: 220px\0; /*IE9 and below*/
}
.bootstrap-select.form-control:not([class*="span"]) {
    width: 100%;
}
.bootstrap-select > .btn {
    width: 100%;
    padding-right: 25px;
}
.error .bootstrap-select .btn {
    border: 1px solid #b94a48;
}
.bootstrap-select.show-menu-arrow.open > .btn {
    z-index: 2051;
}
.bootstrap-select.btn-group .btn .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    float: left;
    text-align: left;
}
.bootstrap-select.btn-group .btn .caret {
    background: #FBFBFB;
    border-left: 1px solid #CCCCCC;
    border-radius: 0 3px 3px 0;
    border-top: 0 none;
    border-right: 0 none;
    border-bottom: 0 none;
    box-shadow: 0 0 1px #DDDDDD;
    height: 100%;
    padding: 9px 18px 9px 12px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}
.bootstrap-select.btn-group > .disabled, .bootstrap-select.btn-group .dropdown-menu li.disabled > a {
    cursor: not-allowed;
}
.bootstrap-select.btn-group > .disabled:focus {
    outline: none !important;
}
.bootstrap-select.btn-group[class*="span"] .btn {
    width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu {
    min-width: 100%;
    z-index: 10000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
    position: static;
    border: 0;
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    max-height: 200px !important;
    box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu dt {
    display: block;
    padding: 6px 12px;
    cursor: default;
    font-weight: bold;
    background: #eee;
}
.bootstrap-select.btn-group .div-contain {
    overflow: hidden;
}
.bootstrap-select.btn-group .dropdown-menu li {
    position: relative;
    border: 0px;
}
.bootstrap-select.btn-group .dropdown-menu li > a.opt {
    position: relative;
    padding-left: 35px;

}
.bootstrap-select.btn-group .dropdown-menu li > a {
    cursor: pointer;
    border-radius: 0 !important;

}
.bootstrap-select.btn-group .dropdown-menu li > a:hover, .bootstrap-select.btn-group .dropdown-menu li > a.active, .bootstrap-select.btn-group .dropdown-menu li > a:focus {
    background-color: #7fb9ff;
    color: #fff;
}
.bootstrap-select.btn-group .dropdown-menu li:nth-last-child(1) > a:hover, .bootstrap-select.btn-group .dropdown-menu li:nth-last-child(1) > a.active, .bootstrap-select.btn-group .dropdown-menu li:nth-last-child(1) > a:focus {
    background-color:#7fb9ff;
    color: #fff;
}
.bootstrap-select.btn-group .dropdown-menu li > dt small {
    font-weight: normal;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a i.check-mark {
    position: absolute;
    display: inline-block;
    right: 6px;
    margin-top: 2.5px;
    color: #23C208;
}
.bootstrap-select.btn-group .dropdown-menu li > a:hover i.check-mark, .bootstrap-select.btn-group .dropdown-menu li > a.active i.check-mark, .bootstrap-select.btn-group .dropdown-menu li > a:focus i.check-mark {
    color: #fff !important;
}
.bootstrap-select.btn-group .dropdown-menu li a i.check-mark {
    display: none;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    margin-right: 34px;
}
.bootstrap-select.btn-group .dropdown-menu li small {
    padding-left: 0.5em;
}
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) > a:hover small, .bootstrap-select.btn-group .dropdown-menu li:not(.disabled) > a:focus small, .bootstrap-select.btn-group .dropdown-menu li.active:not(.disabled) > a small {
    color: #64b1d8;
    color: rgba(255,255,255,0.4);
}
.bootstrap-select.btn-group .dropdown-menu li > dt small {
    font-weight: normal;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: -4px;
    left: 9px;
    display: none;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    position: absolute;
    bottom: -4px;
    left: 10px;
    display: none;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
    bottom: auto;
    top: -3px;
    border-top: 7px solid #ccc;
    border-bottom: 0;
    border-top-color: rgba(0, 0, 0, 0.2);
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
    bottom: auto;
    top: -3px;
    border-top: 6px solid #ffffff;
    border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
    right: 12px;
    left: auto;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
    right: 13px;
    left: auto;
}
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before, .bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
    display: block;
}
.bootstrap-select.btn-group .no-results {
    padding: 3px;
    background: #f5f5f5;
    margin: 0 5px;
}
.bootstrap-select.btn-group .dropdown-menu .notify {
    position: absolute;
    bottom: 5px;
    width: 96%;
    margin: 0 2%;
    min-height: 26px;
    padding: 3px 5px;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    pointer-events: none;
    opacity: 0.9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mobile-device {
    position: absolute;
    top: 0;
    left: 0;
    display: block !important;
    width: 100%;
    height: 100% !important;
    opacity: 0;
}
.bootstrap-select.fit-width {
    width: auto !important;
}
.bootstrap-select.btn-group.fit-width .btn .filter-option {
    position: static;
}
.bootstrap-select.btn-group.fit-width .btn .caret {
    position: static;
    top: auto;
    margin-top: -1px;
}
.control-group.error .bootstrap-select .dropdown-toggle {
    border-color: #b94a48;
}
.bootstrap-select-searchbox, .bootstrap-select .bs-actionsbox {
    padding: 4px 8px;
}
.bootstrap-select .bs-actionsbox {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bootstrap-select-searchbox + .bs-actionsbox {
    padding: 0 8px 4px;
}
.bootstrap-select-searchbox input {
    margin-bottom: 0;
}
.bootstrap-select .bs-actionsbox .btn-group button {
    width: 50%;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{ background-color: #7fb9ff;}

.open > .dropdown-menu {
    display: block;
}

input[type="text"], input[type="password"] {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px #E3E3E3 inset;
    -moz-box-shadow: 0 1px 1px #E3E3E3 inset;
    -ms-box-shadow: 0 1px 1px #E3E3E3 inset;
    -o-box-shadow: 0 1px 1px #E3E3E3 inset;
    -webkit-box-shadow: 0 1px 1px #E3E3E3 inset;
    padding: 6px 30px 6px 10px;
    width: 100%;
    color: #444;
}
.search_send_but{padding: 6px 20px; margin:10px 0; background: #7fb9ff; color: #fff; font-size: 14px; font-weight: 600; float: right; outline: none;}
.search_send_but:hover{border-radius: 8px; transition: all ease-in-out 0.4s; border: 2px solid #0099cc;}

.contact_but{padding: 10px 15px; margin:10px 10px 10px 0; background: #7fb9ff; color: #fff; font-size: 14px; font-weight: 600;  outline: none; border: 1px solid #7fb9ff;}
.contact_but:hover{border-radius: 5px; transition: all ease-in-out 0.4s; background: #fff;color:#063258; text-decoration: none; border: 1px solid #7fb9ff;}

.white_but{padding: 10px 15px; margin:10px 10px 10px 0; background: #fff; color: #7fb9ff; font-size: 14px; font-weight: 600; float: left; outline: none; border: 1px solid #7fb9ff;}
.white_but:hover{border-radius: 5px; transition: all ease-in-out 0.4s; background:#7fb9ff ;color:#fff; text-decoration: none; border: 1px solid #7fb9ff;}

.panel-title{position: relative;}
.panel-heading .accordion-toggle {
    /*    background: #16a085;
        background: #50b085;
        background: -moz-linear-gradient(left,  #50b085 26%, #377f8f 90%);  FF3.6-15 
        background: -webkit-linear-gradient(left,  #50b085 26%, #377f8f 90%);  Chrome10-25,Safari5.1-6 
        background: linear-gradient(to right,  #50b085 26%, #377f8f 90%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50b085', endColorstr='#377f8f', GradientType=1 );  IE6-9 */
    color:#6f8294;
    background: transparent;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: transparent;
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: 0px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
}
.panel-group .panel{border-radius: 0px;}

.panel-heading .accordion-toggle:after {
    font-family: "FontAwesome";
    content:"\f077";
    float: right;
    color: #6f8294;
    position: absolute;right: 10px; top: 4px; font-size: 13px; font-weight: 400;
}
.panel-heading .accordion-toggle.collapse:after {
    content:"\f077";
}
.panel-heading .accordion-toggle.collapsed {
    background: transparent;
    color: #555;
}
.panel-heading .accordion-toggle.collapsed:after {
    content:"\f078";
    color: #555;
}
.panel-heading .accordion-toggle1 {
    background: #16a085;
    background: #50b085; /* Old browsers */
    background: -moz-linear-gradient(left,  #50b085 26%, #377f8f 90%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #50b085 26%, #377f8f 90%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #50b085 26%, #377f8f 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50b085', endColorstr='#377f8f', GradientType=1 ); /* IE6-9 */
    color:#fff;
}
.panel-heading .accordion-toggle1:after {
    /*font-family: "FontAwesome";content:"\f077";float: right;color: #fff;*/
}
.panel-heading .accordion-toggle1.collapsed {
    background: transparent;
    color: #555;
}
.panel-heading .accordion-toggle1.collapsed:after {/*content:"\f078";*/
    color: #555;
}
.wbr{word-break: break-all;}
a, div,em,i,span{outline: 0;}

.property-cont{border:1px solid #7fb9ff; margin-top: 10px; margin-bottom: 10px; float: left;}
.property-header{background:rgba(127, 185, 255, 0.2); margin: 0; padding: 5px 10px 0 15px; min-height: 50px;color: #243c5a;}
.dealer-logo{float: right; width:60px; height: 40px;}
.dealer-logo img{width:100%; height:100%;}
.no-lpad{padding-left: 0px !important; }
.no-rpad{padding-right: 0px !important; }
.srpWrap{position: relative; width: 100%; cursor: pointer; z-index: 99; float: left; padding:10px; background: #fff;}
.srpWrap:hover{background:rgba(127, 185, 255, 0.1);}
.srpWrap .property-pic{border: 1px solid #7fb9ff; margin:0 15px 0 0;}
.srpWrap .property-pic img{width: 100%; height: 100%; margin-bottom: 5px;}
.srpWrap .property-pic small{width: 100%;margin:2px 5px 0;display: inline-block;}
.srpWrap .srpDataWrap{width:95%;float: left; margin:0 0 8px 0px; font-size: 13px;}

.srpWrap .srpDataWrap span{float: none; display: inline;}
.srpWrap .srpDataWrap span.srpDes{float: none; display: inline;}
.srpWrap .srpDataWrap span.descHidden{float: none; display: none;}
.srpWrap .srpDataWrap span.elipDots span{float: none; display: inline; color: #7fb9ff;}
.f12{font-size: 12px;}
.rel{position: relative;}
.abs{position: absolute;}
.clr{clear: both;}
.ml13{margin-left: 13px;}
.mt13{margin-top: 13px;}
.mt18{margin-top: 18px;}
.mr13{margin-right:13px;}
.fcInit{float:left;margin-top: 10px; left: 60px; top:30px;}

#hover{float: left;}
#stuff{display: none; transition: all 500ms ease-in-out; -moz-transition: all 500ms ease-in-out; -webkit-transition: all 500ms ease-in-out; }
/*#hover:hover + #stuff{opacity: 1.0; display: block;}*/
.i1,.i10,.i11,.i12,.i14,.i15,.i16,.i17,.i2,.i21,.i22,.i24,.i27,.i28,.i29,.i3,.i4,.i5,.i6,.i7,.i8,.i9 {
    background-position:0 0
}
.fc_icons i{background: url(../images/prop_icons_am-v2.png) 0 0 no-repeat;}
.fc_icons i {
    display:block;
    width:50px;
    height:24px;
    float:left
}
i.i1 {
    background-position:15px -335px
}
i.i2 {
    background-position:15px -60px
}
i.i16,i.i3 {
    background-position:15px -426px
}
i.i21 {
    background-position:15px -303px
}
i.i4 {
    background-position:15px -212px
}
i.i5 {
    background-position:15px -89px
}
i.i6 {
    background-position:15px -365px
}
i.i7 {
    background-position:15px -1171px
}
i.i8 {
    background-position:15px -182px
}
i.i9 {
    background-position:15px -273px
}
i.i10 {
    background-position:15px 0
}
i.i11 {
    background-position:15px -640px
}
i.i12 {
    background-position:15px -243px
}
i.i14 {
    background-position:15px -1067px
}
i.i15 {
    background-position:15px -1097px
}
i.i17 {
    background-position:15px -29px
}
i.i22 {
    background-position:15px -860px;
    height:26px
}
i.i24 {
    background-position:15px -1129px
}
i.i27 {
    background-position:15px -965px
}
i.i28 {
    background-position:15px -485px
}
i.i29 {
    background-position:15px -934px
}
.top0imp {
    top:0!important
}

.wrapHvr {
    background:#f0f0f0!important;
    border:1px #dbdbdb solid;
    height:83px;
    padding-right:5px;
    top:20px;
    margin-left: 15px;
    box-shadow:0 0 8px 1px #ececec;
    float:left;
    margin-top:10px;
    position:absolute;
    z-index:1;       
}
.wrapIn {
    width:60px;
    text-align:center;
    float:left
}
.fc_icons .wrapIn span {
    display:inline-block;
    text-align:center;
    float:none;
    font-size:11px;
    line-height:12px;
    margin:2px 0 0
}
.feature_containers .sub .wrapHvr{display: none;}
.red-text{color: #cc0033;} 

/********************************Search details Css Start Here********************************/

.search-details-banner{width: 100%; height: 520px; position: relative;margin: 0; padding: 0;}
.search-details-banner img{background-size: cover; height: 520px; margin: 0; padding: 0; width: 100%;}
.search-details-titlebox{background:rgba(0,0,0,0.7); padding:10px 16px 0; margin: 0; position: absolute; bottom:0;}
.search-details-titlebox h3{color: #fff; margin: 0 0 10px; padding: 0; font-size: 26px;}

.search-details-titlebox h1{color: #fff; margin: 0 0 10px; padding: 0;font-size: 26px; }
.search-details-titlebox h2{color: #fff; margin:0px 0 0px; padding: 8px; font-size: 20px; }
.search-details-titlebox p{color: #fff; margin:0px 0 0px; padding: 8px; font-size: 13px;}
.search-details-titlebox .locationh2{color: #fff; margin:0px 0 0px; padding: 8px;border-top: 1px dashed #fff; border-bottom: 1px dashed #fff;}

.search-details-titlebox .location{color: #fff; margin:0px 0 0px; padding: 8px; font-size: 20px;border-top: 1px dashed #fff; border-bottom: 1px dashed #fff;}
.right{right: 30px;}
.left{leht: 0}
.pos-rel{position: relative;}
.pos-abs{position: absolute;}
.h520{height: 520px;}
.text-normal{font-weight: normal;}
.mar-left20{margin-left:20px; }
.font24{font-size: 24px;}
.font22{//font-size: 22px;}
.font18{font-size: 18px;}
.top-link{background: #fff; border-bottom: 1px solid rgba(127, 185, 255, 0.4); width: 100%; min-height: 50px;}
ul.link{width: 100%; margin: 0 auto; padding: 0px;}
ul.link li {list-style-type:none; float: left; margin: 0px 20px; padding:15px 15px;min-width: 100px;cursor: pointer;}
ul.link li a{font-size: 16px; color: #337ab7; margin: 0px; padding:0px 0px;  font-weight: 600;cursor: pointer; text-decoration: none;}
ul.link li a:hover{text-decoration: none;} 
.active-link{border-bottom:2px solid #7fb9ff;}
.details-cont{min-height:800px; margin-top:25px;}
.bgWhite{background: #fff; padding: 0 15px 15px;}
.bgWhite h3{font-size: 16px; padding-top: 20px; margin: 0;   }
.about-desc{margin-bottom: 25px;}
.about-desc h3{font-size: 16px; padding-top: 20px; margin: 0;   }
.circleList{list-style: none; margin-top: 0; padding: 0}
.circleList .title{margin-top: 5px; padding: 0; margin-bottom: 13px; font-size: 14px; font-weight: 600;}
.fvcolor{color: #3d8516;}
.project{font-size: 14px; color: #000; margin: 10px;}
.more{font-weight: 600; cursor: pointer; text-align: center;color: #337ab7; margin: 0;}
.title1 {font-size: 12px; margin-top: 5px; font-weight: 600;  margin-bottom: 13px; min-height:38px;}
#tabs {
    border-bottom: none;
    padding: 0;
    width: 100%;
}
#tabs li {
    margin-bottom: 10px;
    padding: 0px !important;     width: 25%; 
}
#tabs li a:hover {
    border: none;
    border-bottom: aliceblue;
    border-bottom: 3px solid #3d8516;
    text-align: center;
    color: #000;
    font-weight: bold;
} 
#tabs li a {
    text-align: center;
    border: none;
    color: #000;
    font-weight: bold;
    margin-right: 0px;
}
#tabs li.active a {
    border: none;
    border-bottom: aliceblue;
    border-bottom: 3px solid #3d8516;
    text-align: center;
    color: #000;
    font-weight: bold;
}
.carousel {
    position: relative; padding: 0 0px 0px 0px;
}.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-inner>.item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}
.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
    display: block;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -36px;
    top: 36%;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
    right: -36px;
    top: 36%;
}
.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
    height: 200px;
}
.pro-price{padding:0; margin:0px;}
.pro-price p{font-size:14px; color:#000; padding:0; margin:0px;}
 
.thumbnail {
    background: rgba(212, 214, 218,1);
    width: 100%;
}
#grad1 {
    height: 110px;
    background: #3a783c;
    background: -webkit-linear-gradient(left, #3a783c , #2f5493);
    background: -o-linear-gradient(right, #3a783c, #2f5493);
    background: -moz-linear-gradient(right, #3a783c, #2f5493);
    background: linear-gradient(to right, #3a783c , #2f5493);
}
#location .col-md-3 .col-md-6 {
    padding: 10px;
    border: 1px solid #d5d5d5;
}
.intro_1 {
    font-size: 12px;
    color: #000;
    font-family: 'open sans';
    line-height: 20px;
    padding-top: 0px;
    text-align: center;
    margin-bottom: 0;
}
.sticky{position: fixed; top: 0; width: 100%;z-index: 9999;}
.sticky+.content-details{padding-top: 60px;}
.bformBox{background: #fff; padding: 0 10px;}
.formrow{margin-bottom: 15px;}
.sticky-scroll-box{
    padding:15px;
    background:#fff;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
/*=Sticky Scroll Styles=*/
.fixed {
    position:fixed;
    top:55px;
    z-index:99;
}

@media only screen and (min-width: 1120px) and (max-width: 1279px) {}

@media (min-width: 1440px) and (max-width: 1920px) {}

@media (min-width: 1280px) and (max-width: 1440px) {}

@media (min-width: 768px) and (max-width: 1023px) {
    ul.link li {
    list-style-type: none;
    float: left;
    margin: 0px 0px;
    padding: 15px 10px;
    min-width: 40px;
    cursor: pointer;
}
ul.link li a {
    font-size: 16px;
    color: #337ab7;
    margin: 0px;
    padding: 0px 0px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
.property-header{padding: 5px 10px 0 15px; min-height: 70px;}
.property-header h4{padding: 5px 0; margin: 0; width: 75%;font-size: 16px;}
.dealer-logo{float: right; width:60px; height: 40px;}
.dealer-logo img{width:100%; height:100%;}
.srpWrap .property-pic {
    margin: 0 0px 0 0;
}
.details-cont {
    margin-top: 25px;
    padding: 0px;
}
.sticky {
    position: relative;
}
}

@media(max-width: 320px) {}

@media(max-width: 375px) {}

@media (min-width: 768px) and (max-width: 1023px) {}