@charset "utf-8";
/* CSS Document "Montserrat", Helvetica, Arial, sans-serifx*/
body{font-family:'Oswald', sans-serif; font-size:14px; color:#333; margin:0px; padding:0px;}
header {
    float: left;
    width: 100%;
    position: absolute;
    z-index: 9; 
    padding: 20px 0 30px 0; border-bottom:1px solid rgba(255,255,255,0.10);
}
.navbar-brand>img{
    margin-top:-31px;
}

header .navbar-default {background-color: transparent; border-color: transparent; margin-bottom:0px;}
header .navbar-default .navbar-nav>li {background:url(../images/menu_icon.png) no-repeat right; padding: 0 3.5px 0 0;}
header .navbar-default .navbar-nav>li:last-child {background:none;}
.map{ 
    border-bottom: 4px solid #5692da;
    margin-bottom: -25px;}
    iframe{
            margin-bottom: -3px;
    }

header .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}
header .navbar-default .navbar-nav>li>a {
    color: #000;
    text-transform: uppercase;
    font-family:'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 300;
    transition: all ease-in-out .4s;
}
header .navbar-default .navbar-nav>li>a:hover{background: #7fb9ff; color: #333;}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #7fb9ff;
}
.banner{float:left; width:100%; height:490px; position:relative;}
.banner img{width:100%; height:100%; background-size:cover;}
.banner-intern img {
    width: 100%;
    height: 200px;
    background-size: cover;
}
.overlay {
    position: absolute;
    top: 0;
    padding: 150px 0 50px 0;
    width: 100%;
    text-align: center; background:rgba(0,0,0,0.4);
}
/*.banner img{width:100%;}*/
.overlay h2{font-size:34px; font-weight:600; color:#0a970b; font-variant:small-caps; text-shadow:1px 2px 2px rgba(0,0,0,0.6);
            margin:0px 0px 20px 0px;}
.features {
    background: rgba(0,0,0,0.6);
    width: 100%;
    bottom: 0px; 
    float: left;
    position:absolute;  
}
.homes{padding:8px 0px; color:#fff; display:inline-block; font-size:14px; font-weight:600;}
.homes img {
    float: left;
    margin: 0 12px 0 0;
    width:auto;
}

.homes span {
    float: left;
}
.content{float:left; width:100%; background:url(../images/b1.jpg) no-repeat, url(../images/b2.jpg) no-repeat top right;}
.rera_regis{float:left; width:100%; text-align:center; margin:20px 0px 0px 0px; border-bottom:1px solid #e5e5e5;}
.rera_regis h2{font-family: 'Oswald', sans-serif; font-size:24px; color:#333333; text-transform:uppercase; 
               margin:0px 0px 15px 0px; position:relative; padding:0 0 10px 0;}
.rera_regis h2:after{float:left; width:160px; height:4px; background:url(../images/img1.png) no-repeat; display:inline-block;
                     content:''; position:absolute; left:43%; top:100%;}
.rera_regis p{font-size:13px; color:#888; margin:0px 0px 15px 0px;}

.feat_pro{float:left; width:100%; text-align:center; margin:15px 0px 0px 0px;}
.feat_pro h2{font-family: 'Oswald', sans-serif; font-size:24px; color:#333333; text-transform:uppercase; 
             margin:0px 0px 15px 0px; position:relative; padding:0 0 10px 0;}
.feat_pro h2:after{float:left; width:160px; height:4px; background:url(../images/img1.png) no-repeat; display:inline-block;
                   content:''; position:absolute; left:43%; top:100%;}
.feat_pro p{font-size:13px; color:#888; width: 80%; margin: 0 auto 20px; line-height: 20px;}
/*-- feature projects--*/

.home_cat{float:left; width:100%; margin:0px 0px 0px 0px; background:#efefef; padding:25px 0px; box-shadow:0px 2px 3px #ccc;
          -webkit-box-shadow:0px 2px 3px #ccc;}
.home_cat h2{font-family: 'Oswald', sans-serif; font-size:24px; color:#333333; text-transform:uppercase; 
             margin:0px 0px 15px 0px; position:relative; padding:0 0 10px 0; text-align:center;}
.home_cat h2:after{float:left; width:160px; height:4px; background:url(../images/img1.png) no-repeat; display:inline-block;
                   content:''; position:absolute; left:43%; top:100%;}
.home_cat a{font-family: 'Oswald', sans-serif; font-size:22px; color:#fff; text-transform:uppercase; margin:10px 0px 25px 0px; 
            position:relative; padding:30px 37px; text-align:center; -webkit-border-radius: 5px 5px 5px 5px; 
            border-radius: 5px 5px 5px 5px; display:block; -webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out; 
            -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;
            -webkit-box-shadow: 4px 4px 3px rgba(0,0,0,0.26); box-shadow: 4px 4px 3px rgba(0,0,0,0.26); background:#a0da81 url(../images/img2.png) no-repeat top left;}
.home_cat a:hover{background:#7fb9ff url(../images/img2.png) no-repeat top left; text-decoration:none;}
.home_cat p{font-size:13px; color:#666; line-height: 22px;}

.sch_tab{float:left; width:100%; margin:0px 0px 0px 0px; padding:30px 0px 5px 0px;}
.sch_tab h2{font-family: 'Oswald', sans-serif; font-size:24px; color:#333333; text-transform:uppercase; 
            margin:0px 0px 15px 0px; position:relative; padding:0 0 10px 0; text-align:center;}
.sch_tab h2:after{float:left; width:160px; height:4px; background:url(../images/img1.png) no-repeat; display:inline-block;
                  content:''; position:absolute; left:43%; top:100%;}
.sch_tab p{font-size:13px; color:#666; line-height: 22px; margin:15px 0; display: inline-block;}

/*logo slider*/
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
    left: -12px;
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
    right: -12px;
}
/* The indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
    background: #666;
}
.carousel-indicators .active {
    background: #7fb9ff;
}
/*logo slider*/

.top_build{float:left; width:100%; margin:15px 0; padding:25px 0px; background:#282828 url(../images/1313534621.jpg) center bottom no-repeat ;background-size: cover; }
.top_build h2{font-family: 'Oswald', sans-serif; font-size:24px; color:#fff; text-transform:uppercase; 
              margin:0px 0px 15px 0px; position:relative; padding:0 0 10px 0; text-align:center;}
.top_build h2:after{float:left; width:160px; height:4px; background:url(../images/img1.png) no-repeat; display:inline-block;
                    content:''; position:absolute; left:43%; top:100%;}
.top_build p{font-size:13px; color:#efefef; line-height: 22px; margin:15px 0; width:80%; margin:0 auto; text-align:center;}
.top_build h4{font-family: 'Oswald', sans-serif; font-size:29px; color:#fff; text-transform:uppercase; 
              margin:0px 0px 45px 175px; padding:0 0 15px 0; text-shadow:2px 3px 0px rgba(0,0,0,0.8);}
.s1 {font-family:'Oswald', sans-serif; border: 6px solid #ccc; margin-bottom: 35px; position: relative; box-shadow: 3px 4px 4px rgba(0,0,0,0.6);
     -webkit-box-shadow: 3px 4px 4px rgba(0,0,0,0.8);-webkit-transition: all 0.3s ease-in-out; 
     -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; 
     transition: all 0.3s ease-in-out; min-height:240px; max-height:240px;}
.s1 .img-cont {margin: 0 0 0 0; width: auto; text-align: left;}
.s1 img {width: 100%; min-height:130px;}
.s1-cont{position: absolute; display: inline-block; background:#d4d6da; bottom: 0px; width: 100%; left: 0;}
.s1:hover{border: 6px solid #7fb9ff; margin-bottom: 35px; position: relative; box-shadow: 3px 4px 4px rgba(0,0,0,0.6);
          -webkit-box-shadow: 3px 4px 4px rgba(0,0,0,0.6);}
.s1-cont h3.title{font-family:'Oswald', sans-serif'Oswald', sans-serif;font-size:16px; margin:0 0 5px; padding:10px 10px 0; color:#333; width:100%; text-transform:uppercase; text-align: left;}
.s1-cont p.sub-title{font-family:'Oswald', sans-serif'Oswald', sans-serif;font-size:13px; margin:0 0 5px; padding:0px 10px 0; color:#333;text-align: left;}        
.price-btn{padding:4px 10px; margin:0px 10px 6px; font-family:'Oswald', sans-serif; font-size:16px; background:rgba(255,255,255,1); color:#333; border:none;box-shadow:none; border-bottom:4px solid rgba(255,255,255,1); font-weight:600;}
.price-btn:hover{background:rgba(127,185,255,1); text-decoration:none; border-bottom:4px solid rgba(127,185,255,1); color:#fff;}


/* builder */
@mixin bg-gradient() {
    background: rgb(254,254,254);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(254,254,254,1) 0%, rgba(224,224,224,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(224,224,224,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(254,254,254,1) 0%,rgba(224,224,224,1) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(254,254,254,1) 0%,rgba(224,224,224,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(254,254,254,1) 0%,rgba(224,224,224,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(254,254,254,1) 0%,rgba(224,224,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e0e0e0',GradientType=1 );
}
@mixin tab-bg-gradient() {
    background: rgb(96,0,38); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(96,0,38,1) 0%, rgba(198,9,67,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,0,38,1)), color-stop(100%,rgba(198,9,67,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(96,0,38,1) 0%,rgba(198,9,67,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(96,0,38,1) 0%,rgba(198,9,67,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(96,0,38,1) 0%,rgba(198,9,67,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(96,0,38,1) 0%,rgba(198,9,67,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#600026', endColorstr='#c60943',GradientType=0 ); /* IE6-9 */
}

@mixin tab-bg-gradient-active() {
    background: rgb(76,0,30);
    background: -moz-linear-gradient(top,  rgba(76,0,30,1) 0%, rgba(159,7,53,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,0,30,1)), color-stop(100%,rgba(159,7,53,1)));
    background: -webkit-linear-gradient(top,  rgba(76,0,30,1) 0%,rgba(159,7,53,1) 100%);
    background: -o-linear-gradient(top,  rgba(76,0,30,1) 0%,rgba(159,7,53,1) 100%);
    background: -ms-linear-gradient(top,  rgba(76,0,30,1) 0%,rgba(159,7,53,1) 100%);
    background: linear-gradient(to bottom,  rgba(76,0,30,1) 0%,rgba(159,7,53,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c001e', endColorstr='#9f0735',GradientType=0 );
}

@mixin tab-bg-gradient-hover() {
    background: rgb(174,0,70);
    background: -moz-linear-gradient(top,  rgba(174,0,70,1) 0%, rgba(251,15,86,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,0,70,1)), color-stop(100%,rgba(251,15,86,1)));
    background: -webkit-linear-gradient(top,  rgba(174,0,70,1) 0%,rgba(251,15,86,1) 100%);
    background: -o-linear-gradient(top,  rgba(174,0,70,1) 0%,rgba(251,15,86,1) 100%);
    background: -ms-linear-gradient(top,  rgba(174,0,70,1) 0%,rgba(251,15,86,1) 100%);
    background: linear-gradient(to bottom,  rgba(174,0,70,1) 0%,rgba(251,15,86,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae0046', endColorstr='#fb0f56',GradientType=0 );
}

@mixin tabs-transition() {
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}


/* Vars */
$tab_text_color: white;
$tab_text_color_active: #dddddd;
$tab_text_color_hover: white;
$tab_container_bg: white;
$tabs_min_width: 175px;
$tabs_width: 23%;
$tab_container_width: 70%;
$tab_container_min_width: 10px;




.tabs_wrapper {
    /*  width: 85%;
      text-align: center;
      margin: 0 auto;
      background: transparent;*/
}
.tabs_wrapper {
    margin: 25px 0;
    display: inline-block;
    float:left;
    width:100%;
    height:500px;
}
ul.tabs {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 10;
    margin: 0px 0 0 0;
    padding: 0;
    width: $tabs_width;
    min-width: $tabs_min_width;
    list-style: none;
    @include tabs-transition;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    li {
        margin: 0;
        cursor: pointer;
        padding: 0px 15px;
        line-height: 31px;
        color: $tab_text_color;
        text-align: left;
        font-weight: bold;
        background-color: #666;
        @include tab-bg-gradient;
        @include tabs-transition;
        &:hover {
            @include tab-bg-gradient-hover;
            color: $tab_text_color_hover;
            @include tabs-transition;
        }
        &.active {
            @include tab-bg-gradient-active;
            color: $tab_text_color_active;
            @include tabs-transition;
        }
    }
}
ul.tabs {background:rgba(20,20,20,0.5); width:100%; box-shadow:none; padding:12px 0px;}
ul.tabs li {
    padding: 10px 32px;
    color: #fff;
    font-size: 14px;
    font-weight: 600; list-style:none; background:url(../images/ft_arrow.png) no-repeat top left; background-position: 10px;
    cursor:pointer; text-transform:uppercase; 
}
ul.tabs li.active{background:#a0da81 url(../images/ft_arrow.png) no-repeat; background-position: 10px;}
.tab_container {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    z-index: 20;
    left:0%;
    width: $tab_container_width;
    min-width: $tab_container_min_width;
    text-align: left;
    background: $tab_container_bg;
    border-radius: 12px; float:left; width:100%;
}

.tab_content {
    padding: 0px 0 0 20px;
    height: 100%;
    display: none;
}

.tab_drawer_heading { 
    display: none; 
}

@media screen and (max-width: 781px) {
    .banner {
    float: left;
    width: 100%;
    height: 480px;
}


    ul.tabs {
        display: none;
    }
    .tab_container {
        display: block;
        margin: 0 auto;
        width: 100%;
        border-top: none;
        border-radius: 0;
        box-shadow: 0px 0px 10px black;
        left: 0;
    }
    .tab_drawer_heading {
    text-transform:uppercase;
        width: 100%;
        clear: both;
        background-color: #ccc;
        @include tab-bg-gradient();
        color: #222;
        font-size: 18px;
        margin: 0 0 1px;
        padding: 5px 20px;
        display: block;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: center;
        &:hover {
            background: #ccc;
            @include tab-bg-gradient-hover();
            color: $tab_text_color_hover;
        }
    }
    .d_active {
        background: #7fb9ff;
        color: #fff;
        @include tab-bg-gradient-active;
        /*color: $tab_text_color_active;*/
    }
    .top_build h4{font-family: 'Oswald', sans-serif; font-size:29px; color:#fff; text-transform:uppercase; 
              margin:0px 0px 45px 0px; text-align: center; padding:0 0 15px 0; text-shadow:2px 3px 0px rgba(0,0,0,0.8);display:none;}
}
/*builder*/
.about{float:left; width:100%; margin:15px 0px;}
.about img.about_img{width:100%;}
.about span{font-family: 'Oswald', sans-serif; font-size:50px; color:rgba(34,34,34,0.15); text-transform:uppercase; 
            margin:0px 0px 0 5px; position:relative; letter-spacing:25px;}
.about h2{font-family: 'Oswald', sans-serif; font-size:30px; color:#333333; text-transform:uppercase; 
          margin:0px 0px 25px 0px; position:absolute; padding:0 0 15px 0; top:22px;}
.about p{font-size:13px; color:#888; line-height: 22px; margin:10px  0 10px 0;}
.read_more {display: block; float: left; margin: 20px 0 0 0;}
.read_more a{background:#a0da81; font-size:13px; color:#fff; text-transform:uppercase; padding:5px;
             border-bottom:3px solid rgba(10, 151, 11); width: 151px; height: 48px; display: inline-block; text-align: center; line-height: 36px;
             -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; 
             -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.read_more a:hover{background:rgba(10, 151, 11); font-size:13px; color:#fff; text-transform:uppercase; padding:5px;
                   border-bottom:3px solid #a0da81; width: 151px; height: 48px; display: inline-block; text-align: center; line-height: 36px; text-decoration:none;}
.read_more a img {margin: -2px 0 0 11px;}

.value_add{float:left; width:100%; margin:15px 0px; background:url(../images/value_bg.jpg) no-repeat; background-attachment:fixed;background-size:100%;}
.val_add {background: rgba(0,0,0,0.6); padding: 40px 0px 60px 0px;}
.value_add h2{font-family: 'Oswald', sans-serif; font-size:30px; color:#fff; text-transform:uppercase; 
              margin:0px 0px 25px 0px; position:relative; padding:0 0 15px 0; text-align:center;}
.value_add h2:after{float:left; width:160px; height:4px; background:url(../images/img1.png) no-repeat; display:inline-block;
                    content:''; position:absolute; left:43%; top:100%;}
.value_add ul{margin:20px 0 0 215px; padding:0px; float:left; width:100%; max-height:227px; min-height:150px; background-size: 100%;}
.value_add ul li{margin:0px; padding:0px; list-style:none; float:left;}
.value_add ul li a{font-size:13px; color:#fff; padding:0; text-transform:uppercase; display:inline-block; text-align:center;}
.value_add ul li a p {margin: 0;}
.value_add ul li a p img{margin: 0; width: 100%; height: 100%;}
.value_add ul li a span {font-family: 'Oswald', sans-serif; font-size:13px; color:#fff; text-transform:capitalize;}
.value_add ul li.v1 {/*padding: 23px 14px;padding: 10px 0;*/
    width: 105px;
    height: 105px;
    text-align: center;}
.value_add ul li.v2 {padding: 131px 22px 22px 23px;}
.value_add ul li.m1 {margin: 0 0 0 10px;}
.value_add ul li.m2 {margin: 38px 0 0 10px;}
/*.value_add ul li.m2:last-child {margin:112px 0 0 0px;}*/
.value_add ul li.m3 {margin:115px 0 0 10px;}
.value_add ul li.v5 {padding: 23px 22px 22px 19px;}
.value_add ul li.v6 {padding: 131px 22px 22px 16px;}
.value_add ul li.v7 {padding: 14px 22px 22px 17px;}
.value_add ul li.v8 {padding: 122px 22px 22px 14px;}
.value_add ul li.v9 {padding: 6px 22px 22px 19px;}
.value_add ul li.v10 {padding: 117px 22px 22px 14px;}
.value_add ul li.l{margin:95px 0 0 10px;}
.value_add ul li.l2{margin:77px 0 0 10px;}
.mobile-value_add{display:none;}
.nws_tab{float:left; width:100%; margin:0px 0px 0px 0px; padding:30px 0px 0 0;}
.nws_tab h3{font-family: 'Oswald', sans-serif; font-size:20px; color:#1c1c1c; text-transform:capitalize; 
            margin:0px 0px 15px 0px; position:relative; padding:0 0 15px 0;}
.nws_tab h3:after{float:left; width:361px; height:3px; background:url(../images/img3.png) no-repeat; display:inline-block;
                  content:''; position:absolute; left:0%; top:100%;}
.nws_tab .lat_nws{float:left; width:100%; margin: 0 0 30px 0;}
.nws_tab .lat_nws:last-child{margin:0px;}
.nws_tab .lat_nws h5{margin:0px 0px 5px 0px;}
.nws_tab .lat_nws h5 a{font-size:14px; font-weight:600; color:#333333; margin:0px 0px 5px 0px;}
.nws_tab .lat_nws h5 a:hover{font-size:14px; font-weight:600; color:#7fb9ff; margin:0px 0px 5px 0px;}
.nws_tab .lat_nws span{font-family: 'Oswald', sans-serif; font-size:13px; color:#7fb9ff; text-transform:capitalize; 
                       margin:0px 0px 10px 0px; display:inline-block;}
.nws_tab .lat_nws .nws_cont{float:left; width:100%;}
.nws_tab .lat_nws .nws_cont .nws_img{float: left; width: 70px; margin: 0 12px 0 0; border: 4px solid #7fb9ff;}
.nws_tab .lat_nws .nws_cont .nws_img img{width:100%;}
.nws_tab .lat_nws .nws_cont p{font-size:13px; color:#666; line-height:20px; margin: -5px 0 0 0;}
.nws_tab .lat_nws .nws_cont p a{font-size:13px; color:#7fb9ff; font-weight:600;}
.nws_tab .lat_nws .nws_cont p a:hover{font-size:13px; color:#333; font-weight:600;}
.t_soc{width: 100%; height: 200px; max-height: 200px; min-height: 200px; overflow-y: scroll; margin-bottom: 10px;
       border: 1px solid #efefef; border-radius: 3px;}
.f_soc{width: 100%; height: 200px; max-height: 200px; min-height: 200px; overflow-y: scroll; margin-bottom: 10px;
       border: 1px solid #efefef; border-radius: 3px;}
.o_soc{}
.o_soc iframe{width: 360px; height: 210px;}

.num_tab{float:left; width:100%; padding:27px 0px; margin:25px 0px 0px 0px; background:#a0da81;}
.num_tab span{font-family:'Oswald', sans-serif; font-size:27px; color:#fff; text-transform:uppercase;}
.num_tab a{font-family:'Oswald', sans-serif; font-size:23px; color:#fff; border:2px solid #fff; border-radius:38px; padding:14px 34px;
           margin:0 0 0 15px; box-shadow: 1px 3px 0px #333; -webkit-box-shadow: 1px 3px 0px #333; -webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.num_tab a:hover{font-family:'Oswald', sans-serif; font-size:26px; color:#333; border:2px solid #fff; border-radius:38px; padding:14px 34px;
                 margin:0 0 0 15px; box-shadow: 1px 3px 0px #333; -webkit-box-shadow: 1px 3px 0px #333; text-decoration:none; background:#fff;}

footer{float:left; width:100%;}
.footer1{float:left; width:100%; background:#1d232e url(../images/ft_bg.png) repeat-x bottom; padding: 40px 0px 60px 0px;}
.footer1 h4{font-size:20px; color:#fff; text-transform:capitalize; margin:0px 0px 25px 0px; position:relative; 
            padding:0 0 15px 0; }
.footer1 h4:after{float:left; width:231px; height:5px; display:inline-block;
                  content:''; position:absolute; left:0%; top:100%;}
.footer1 ul{margin:0px; padding:0px;}
.footer1 ul li{margin:0px; padding:0px; list-style:none; background:url(../images/ft_arrow.png) no-repeat left;}
.footer1 ul li a{font-size:13px; color:#fff; padding:10px 0 10px 20px; text-transform:uppercase; display:inline-block;}
.footer1 ul li:hover{margin:0px; padding:0px; list-style:none; background:url(../images/ft_arrow_h.png) no-repeat left;}
.footer1 ul li:hover a{font-size:13px; color:#7fb9ff; padding:10px 0 10px 20px; text-transform:uppercase; display:inline-block; text-decoration:none;}

.footer1 p{margin:0 0 20px 0; display:inline-block;}
.footer1 p img{width:60px; height:48px; border:4px solid #7fb9ff; margin:0 15px 0 0; float:left;}
.footer1 p a{font-size:13px; color:#fff; line-height:22px;}
.footer1 p a:hover{font-size:13px; color:#7fb9ff; line-height:22px; text-decoration:none;}

.footer1 p i.fa.fa-map-marker{font-size:28px; width: 20px;}
.footer1 p i {font-size: 18px; color: #fff; float: left; margin: 0 10px 0 0;}
.footer1 p span{font-size:13px; color:#fff; display: inline-block; margin-bottom: 15px; line-height:24px;}
.footer1 p span:last-child {margin-bottom: 0;}

.footer2{float:left; width:100%; background:#e5e5e5; padding: 22px 0px;}
.footer2 span{font-family: 'Raleway', sans-serif; font-size:13px; color:#333; margin-top: 10px; display: inline-block;} 
.footer2 ul{margin:0px; padding:0px; float: right;}
.footer2 ul li{margin:0px; padding:0px; list-style:none; float:left;}
.footer2 ul li a{font-size:14px; color:#333; display:inline-block; width: 38px; height: 38px; line-height: 38px;
                 text-align: center; margin: 0 4px 0 0; border:1px solid #333;-webkit-transition: all 1000ms ease-in-out;
                 -moz-transition: all 1000ms ease-in-out; -ms-transition: all 1000ms ease-in-out; -o-transition: all 1000ms ease-in-out; transition: all 1000ms ease-in-out;}
.footer2 ul li a:hover{font-size:14px; color:#fff; display:inline-block; width: 38px; height: 38px; line-height: 38px;
                       text-align: center; margin: 0 4px 0 0; border:1px solid #7fb9ff; background:#7fb9ff; -moz-transform: rotate(360deg);
                       -webkit-transform: rotate(360deg);-o-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}


.address{
       
    border: 1px solid #7fb9ff;
    color: #ffffff;
    padding:5px;
}
.address>ul li a{
color: #444;
}
.address>ul{
    list-style: none;
}
.address>ul li{
     padding: 0 0 20px;
}
.address p{
    color:#444;
    font-size:13px;
}
.address i{
    color:#327790;
    float: left;
    font-size: 22px;
    margin-right: 20px;
    margin-bottom:40px;
    
}
.footer2 ul li a .fa-twitter{
    color:#52a1f3;
}
.footer2 ul li a .fa-facebook{
    color:#4867aa;
}
.footer2 ul li a  .fa-google-plus{
    color:#de4a3a;
}
.footer2 ul li a .fa-youtube{
    color:#d02929;
}
.footer2 ul li a .fa-linkedin{
color:#3f7bb5;
}
/* Tabs*/
.nav-tabs {
    margin: 5px 0px 0;
        padding: 0 0px;
        border-bottom: 2px solid #E1E3E3;
}
.nav-tabs > li {
    float: left;
    margin-bottom: 0px;
    width: 50%;
        display: block;
}
.nav-tabs > li > a {
    background:rgb(97 194 46 / 0.60);
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #fff;
    font-size: 14px;
    font-weight:600;
    line-height: 1.42857;
    margin-left: 0px;
    margin-right: 0px;
    padding: 6px 0px;
    position: relative;
    text-align: center;
        border-radius: 0px 0px 0 0;
        text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a .fa {
    margin: 0 0 0 2px;
}
.nav-tabs > li > a:hover {
    background: rgba(10, 151, 11, 0.99);
    color: #fff;
}
.nav-tabs > li > a.active {
    color: #;fff/*257FB1*/
    cursor: default;
    background-color: rgba(127, 185, 255, .99)/*#7fb9ff  0852cd*/;
    border: 1px solid #ccc;
    border-bottom-color: transparent;
}
.nav-tabs > li > a.active .badge {
    background: #5FB761;
}
.nav-tabs > li > a.active:before {
    background: #0852cd;/*D61008*/
    content: "";
    display: block;
    height: 0px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 100%;
}
.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.nav-tabs.nav-justified > li {
    float: none;
}
.nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
.tabs-content-wrap{background:rgba(29, 14, 14, 0.38); margin: 0; padding: 0px; width: 100%;}
.tab-box{
   background: rgba(255,255,255,.4); padding: 0; margin: 0 auto 6px; width: 560px; min-height: 108px; 
  /* box-shadow: 6px 6px 1px #0852cb;*/
}

input[type="text"].search{
    background: #fff;
    border: 0px solid #ccc;
    border-radius: 0px;
    min-height: 40px;
/*    box-shadow: 0 1px 1px #E3E3E3 inset;
    -moz-box-shadow: 0 1px 1px #E3E3E3 inset;
    -ms-box-shadow: 0 1px 1px #E3E3E3 inset;
    -o-box-shadow: 0 1px 1px #E3E3E3 inset;
    -webkit-box-shadow: 0 1px 1px #E3E3E3 inset;*/
    padding: 10px 30px 10px 10px;
    width: 100%;
    color:#444;
}
.city-link{width: 100%; padding: 0px; margin: 0; border:1px solid #ccc; float: left;  }
.city-link a{font-size: 14px; color: rgba(255, 255, 255, 1); font-weight:600; padding: 5px 8px; width:92px; margin: 0; border-right:1px solid #ccc; float: left; background-color: #a0da81;}
.city-link a:hover{background:rgba(10, 151, 11, 0.99); color:#fff; text-decoration:  none;}
.city-link-dropdown-menu{background: #a0da81; padding: 5px 6px; border: none; font-size: 14px; font-weight:600; float: right; color:#FFFFFF;  width:98px; border-radius:0;}
.search-box{margin: 60px 0;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{background::rgba(10, 151, 11, 0.99);color:#fff;}
.open>.dropdown-toggle.btn-default:focus{background::rgba(10, 151, 11, 0.99);color:#fff;}

.btn-default:hover {background:rgba(10, 151, 11, 0.99); color:#fff;}
.dropdown-menu>li>a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: 600;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    width: 100%;
}
.iten-cont{width:100%; height:290px; position:relative;}
.iten-cont img{width:100%; height:100%; background-size:cover;}
.item-cont-top{width:100%; padding:10px; color:#FFFFFF; background:rgba(60,57,109,0.8); position:absolute; z-index:999; top:0;}
.item-cont-top .head-title{font-size:14px; text-transform:uppercase; margin:6px 0; color:#FFFFFF; text-align:left;}
.item-cont-top p{font-size:11px; text-transform:uppercase; margin:0 0 0px 0; color:#ccc; text-align:left; width:100%;}
.item-cont-top .price{font-size:15px; text-transform:uppercase; margin:6px 0; color: #94f973; text-align:left;}
.item-cont-link{width:100%;padding: 80px 0;display:block;float: left;position: absolute;top: 70px;color: #fff;z-index: 999;}
.item-cont-link a{border:1px solid #fff; padding:8px; margin:0 auto; color:#FFFFFF; font-size:16px}
.item-cont-bottom{position:absolute; bottom:0px; left:0px; z-index:999; background:rgba(0,0,0,0.8); color:#FFFFFF; width:100%; padding:10px;}
.item-cont-bottom .fa{font-size:13px; margin-right:5px;}
.item-cont-bottom .font10{font-size:10px;}

.no-rpad{padding-right:0;}
.no-lpad{padding-left:0;}
.item-cont-overlay{width:100%; height:100%; background:rgba(60,57,109,0.6); position:absolute; top:0; left:0;}
.com-marg{margin-bottom:10px;}
 
 #owl-demo .item{
      display: block;
      padding: 10px 0px;
      margin: 5px;
      color: #FFF;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      text-align: center;height:360px;
      
}
    #owl-demo .item h1{width: 100%; height: 140px; text-align: center; color: #FFF; background-color: #009900;}
    .owl-theme .owl-controls .owl-buttons div {
      padding: 8px 12px;
    }

    .owl-theme .owl-buttons i{
      margin-top: 2px;
    }

    .owl-theme .owl-controls .owl-buttons div {
      position: absolute;
    }

    .owl-theme .owl-controls .owl-buttons .owl-prev{
      left: -40px;
      top: 45%; 
    }

    .owl-theme .owl-controls .owl-buttons .owl-next{
      right: -35px;
      top: 45%;
    }
    .ml50{margin-left:50px}
    .thumbnail{background:rgba(212, 214, 218,1);}
    .project_detail{position:relative; margin:0; padding:0; width:96%; float:left;}
    .project_detail-inner{background:rgba(212, 214, 218,1);  padding:5px 10px 8px; margin:0 0px; position:absolute; left:0; bottom:-30px;  width:100%; z-index:9999;}
    .project_detail-inner h3{font-family: 'Oswald', sans-serif; font-size: 16px;margin: 0 0 5px;padding: 10px 10px 0;color: #333;width: 100%;
    text-transform: uppercase; text-align: left;}
    .project_detail-inner p{font-family: 'Oswald', sans-serif; font-size: 13px;margin: 0 0 5px;padding: 0px 10px 0;color: #333;text-align: left;}
    
    
@media only screen and (min-width: 1120px) and (max-width: 1279px) {
.search-box {
    margin: 25px 0;
}
}
@media (min-width: 1440px) and (max-width: 1920px) {.banner{float:left; width:100%; height:616px; position:relative;}}
@media (min-width: 1280px) and (max-width: 1440px) {
    .banner{float:left; width:100%; height:560px; position:relative;}
.search-box {
    margin: 25px 0 0;
}
.overlay {
    padding: 100px 0 25px 0;
    width: 100%;
    background: rgba(255, 255, 255, 0);
}
}
@media (min-width: 768px) and (max-width: 1023px) {
.homes img {
    float: none;
    margin: 0 12px 0 0;
}
.o_soc iframe{width: 100%; height: 210px;}
.overlay {
    position: absolute;
    top: 0;
    padding: 105px 0 50px 0;
    width: 100%;
    text-align: center; background:rgba(0,0,0,0.4);
}
.features {
     bottom: 125px;
    margin-top: 0px; 
    position: relative;
}
.search-box{margin: 40px 0 0;}
.homes {
    padding: 16px 0px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.homes span {
    float: left;
    width: 100%;
    margin: 8px;
}
.num_tab{float:left; width:100%; padding:48px 0px; margin:25px 0px 0px 0px; background:#7fb9ff;}
.num_tab span{font-family:'Oswald', sans-serif; font-size:30px; color:#fff; text-transform:uppercase; width: 100%; float: left; text-align: center; margin-bottom: 20px;}
.num_tab a{font-family:'Oswald', sans-serif; font-size:26px; color:#fff; border:2px solid #fff; border-radius:38px; padding:14px 34px;
           margin:0 0 0 15px; box-shadow: 1px 3px 0px #333; -webkit-box-shadow: 1px 3px 0px #333; -webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.num_tab a:hover{font-family:'Oswald', sans-serif; font-size:26px; color:#333; border:2px solid #fff; border-radius:38px; padding:14px 34px;
                 margin:0 0 0 15px; box-shadow: 1px 3px 0px #333; -webkit-box-shadow: 1px 3px 0px #333; text-decoration:none; background:#fff;}

.value_add ul li{margin: 0; padding: 0;}
.value_add ul li a p {
    margin:5px 5px 0px;
}
.value_add ul li.v1 {/*padding: 23px 14px;*/padding: 0px 8px;
    width: 64px;
    height: 64px;
    text-align: center;}
.value_add ul li a span {
    font-family: 'Oswald', sans-serif;
    font-size: 0.8rem;
    color: #fff;
    text-transform: capitalize;
}
.value_add ul li.v2 {padding: 131px 22px 22px 23px;}
.value_add ul li.m1 {margin: 0 0 0 7px;}
.value_add ul li.m2 {margin:75px 0 0 10px;}
/*.value_add ul li.m2:last-child {margin:112px 0 0 0px;}*/
.value_add ul li.m3 {margin:115px 0 0 10px;}
.value_add ul li.v5 {padding: 23px 22px 22px 19px;}
.value_add ul li.v6 {padding: 131px 22px 22px 16px;}
.value_add ul li.v7 {padding: 14px 22px 22px 17px;}
.value_add ul li.v8 {padding: 122px 22px 22px 14px;}
.value_add ul li.v9 {padding: 6px 22px 22px 19px;}
.value_add ul li.v10 {padding: 117px 22px 22px 14px;}
.home_cat a{font-size: 22px;}
.ml50 {
    margin-left: 0px;
}
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
   .navbar-default .navbar-toggle{border-color: #a0da81;}
.navbar-collapse{background-color: #fff;}
    
    .homes img {
    float: none;
    margin: 0 12px 0 0;
}
.navbar-nav {
    margin: 0px -15px;
}
header .navbar-default .navbar-nav>li>a:hover {
    background: #a0da81;
    color: #fff;
}
header .navbar-default .navbar-nav>li>a {
    color: #232323;
    text-transform: uppercase;
    font-family:'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 400;
    transition: all ease-in-out .4s;
}
    header .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #a0da81;
}
    .banner {
        float: left;
        width: 100%;
        height:540px;
        position:relative;
    }
    .overlay {
    position: absolute;
    top: 0;
    padding: 100px 0 20px 0;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.4);
}
    .features {
        background: rgba(0,0,0,0.6);
        width: 100%;
        /*bottom: -65px;*/
        bottom: 0px;
        float: left;
        position: absolute;
    }
    .search-box {
        margin: 40px 0 0;
    }
    .homes{text-align: center;}
    .homes span {
    float: left;
    width: 100%;
    font-size: 13px;
}
.home_cat p {
    font-size: 14px;
    color: #666;
    line-height: 22px;
    padding: 20px;
}
.feat_pro h2:after{left: 30%;}
.home_cat h2:after{left: 30%;}
.sch_tab h2:after{left: 30%;}
.top_build h2:after{left: 30%;}
.rera_regis h2:after { 
    content: '';
    left: 30%;
    top: 100%;
}
.sch_tab p{padding: 20px;}
.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 2px;
    top: 45%;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
    right: 2px;
    top: 45%;
}
.num_tab{float:left; width:100%; padding:48px 0px; margin:25px 0px 0px 0px; background:#7fb9ff;}
.num_tab span{font-family:'Oswald', sans-serif; font-size:22px; color:#fff; text-transform:uppercase; margin-bottom:20px; float:left; width:100%;}
.num_tab a{font-family:'Oswald', sans-serif; font-size:24px; color:#fff; border:2px solid #fff; border-radius:38px; padding:14px 24px;
           margin:0 0 0 15px; box-shadow: 1px 3px 0px #333; -webkit-box-shadow: 1px 3px 0px #333; -webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.num_tab a:hover{font-family:'Oswald', sans-serif; font-size:26px; color:#333; border:2px solid #fff; border-radius:38px; padding:14px 34px;
                 margin:0 0 0 15px; box-shadow: 1px 3px 0px #333; -webkit-box-shadow: 1px 3px 0px #333; text-decoration:none; background:#fff;}
                 
    .tab-box {
    background: rgba(255,255,255,.3);
    padding: 0;
    margin: 0 auto 5px;
    width: 100%;
    min-height: 120px;
    
}

.nws_tab h3{font-family: 'Oswald', sans-serif; font-size:20px; color:#1c1c1c; text-transform:capitalize; 
            margin:0px 0px 15px 0px; position:relative; padding:0 0 15px 0;}
.nws_tab h3:after{float:left; width:100%; height:3px; background:url(../images/img3.png) no-repeat; display:inline-block;
                  content:''; position:absolute; left:0%; top:100%;}

.value_add h2:after{    left: 32%;}
.nav-tabs > li > a {
    
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #fff;
    font-size: 13px;
    line-height: 1.42857;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px 0px;
    position: relative;
    text-align: center;
    border-radius: 0px 0px 0 0;
    text-transform: uppercase;
    min-height:50px;
    line-height:14px;
}
.city-link a {
    font-size: 14px;
    color: #fff;
    padding: 8px 0px;
    margin: 0;
    border-right: 1px solid #ccc;
    float: left;
    width:25%;
}
.city-link-dropdown-menu {
    padding: 8px 0px; width:76px;}
.value_add ul {
    margin: 20px 0 0 0;
    padding: 0px;
    min-height: 90px;
    background-size: 100%;
}

.value_add ul li.v1 {
    padding: 2px 0;
    width: 33px;
    height: 33px;
    text-align: center;
}
.value_add ul li a p {
    margin: 4px;
}
.value_add ul li.m2 {
    margin: 38px 0 0 4px;
}
.value_add{display:none;}

.mobile-value_add{display:block;}
.mobile-value_add{float:left; width:100%; margin:15px 0px; background:url(../images/value_bg.jpg) no-repeat; background-attachment:fixed;background-size:cover;}
.mobile-val_add {background: rgba(0,0,0,0.6); padding: 40px 0px 60px 0px;}
.mobile-value_add h2{font-family:'Oswald', sans-serif'Oswald', sans-serif; font-size:30px; color:#fff; text-transform:uppercase; 
              margin:0px 0px 25px 0px; position:relative; padding:0 0 15px 0; text-align:center;}
.mobile-value_add h2:after{float:left; width:160px; height:4px; background:url(../images/img1.png) no-repeat; display:inline-block;
                    content:''; position:absolute; left:30%; top:100%;}
                    
.mobile-value_add  ul{ margin:0px 0 0 0;padding: 20px; min-height: 227px;width:100%;}
.mobile-value_add ul li {margin:0 0 20px; padding:0px; list-style:none;display:inline-block; width:48%; text-align:center;}
.mobile-value_add ul li a{font-size:13px; color:#fff; padding:0; text-transform:uppercase; display:inline-block; text-align:center;}
.mobile-value_add ul li a img{border-radius:8px; background:#a0da81; padding:4px; margin:0px 8px 0 0; width:80px; height:80px;} 
.mobile-value_add ul li a span.title{width:100%; text-align:center;font-family: 'Oswald', sans-serif; font-size:14px; text-transform:capitalize; padding:10px; margin:10px 0 0 0px; color:#FFFFFF; display:inline-block;} 
.mobile-value_add ul li a img:hover{border-radius:0px;    transition: all ease-in-out .4s;}
.mobile-value_add ul li a span.title:hover{color:#7fb9ff;}
.o_soc iframe{width: 100%; height: 210px;}
.ml50{margin-left:0px}
 header .navbar-default .navbar-nav>li {
    background: url(../images/menu_icon.png) no-repeat right;
    padding: 0 0px 0 0;
}
}


@media(max-width: 320px) {

.value_add ul {
    margin: 20px 0 0 0;
    padding: 0px;
    min-height: 90px;
    background-size: 100%;
}

.value_add ul li.v1 {
    padding: 2px 0;
    width: 25px;
    height: 25px;
    text-align: center;
}
.value_add ul li a p {
    margin: 0px 2px;
}
.value_add ul li.m2 {
    margin: 28px 0 0 4px;
}
.value_add ul li.m1 {
    margin: 0 0 0 5px;
}
}

@media(max-width: 375px) {
.value_add ul {
    margin: 20px 0 0 0;
    padding: 0px;
    min-height: 90px;
    background-size: 100%;
}

.value_add ul li.v1 {
    padding: 2px 0;
    width: 25px;
    height: 25px;
    text-align: center;
}
.value_add ul li a p {
    margin: 0px 2px;
}
.value_add ul li.m2 {
    margin: 38px 0 0 12px;
}
.value_add ul li.m1 {
    margin: 0 0 0 8px;
}
}

@media (min-width: 768px) and (max-width: 1023px) { 
.value_add ul li{margin: 0; padding: 0;}
.value_add ul li a p {
    margin:5px 5px 0px;
}
.value_add ul li.v1 {/*padding: 23px 14px;*/padding: 0px 8px;
    width: 64px;
    height: 64px;
    text-align: center;}
.value_add ul li a span {
    font-family: 'Oswald', sans-serif;
    font-size: 0.8rem;
    color: #fff;
    text-transform: capitalize;
}
.value_add ul li.v2 {padding: 131px 22px 22px 23px;}
.value_add ul li.m1 {margin: 0 0 0 7px;}
.value_add ul li.m2 {margin:75px 0 0 10px;}
/*.value_add ul li.m2:last-child {margin:112px 0 0 0px;}*/
.value_add ul li.m3 {margin:115px 0 0 10px;}
.value_add ul li.v5 {padding: 23px 22px 22px 19px;}
.value_add ul li.v6 {padding: 131px 22px 22px 16px;}
.value_add ul li.v7 {padding: 14px 22px 22px 17px;}
.value_add ul li.v8 {padding: 122px 22px 22px 14px;}
.value_add ul li.v9 {padding: 6px 22px 22px 19px;}
.value_add ul li.v10 {padding: 117px 22px 22px 14px;}
.home_cat a{font-size: 22px;}
}
.from-input-text, select, textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 13px;
    color: #444;
}

    .form{
          border: 1px solid #7fb9ff;
    padding: 20px;
    //background: #7fb9ffad;
    margin-bottom: 15px;
    }
    .fa-refresh{
        
        color: #128ec5;
    font-size: 20px;
    padding-top: 0px;
    }
    #clickcaptcha{
       bottom: 0px;
    position: absolute;
    height: 13px !important;
    padding: 4px 13px 4px 12px;
    top: 11px;
    right: 16px;
    z-index: 99;
    }

#clickcaptcha:hover {
    background: #eee !important;
       bottom: 2px;
    top: 8px;
    right: 16px;
    z-index: 999;
    text-align: center;
    position: absolute;
    height: 30px !important;
    font-size: 20px !important;
    padding: 2px 7px 6px 8px;
  }
  #ran1{
        
            width: 89px;
    font-size: 15px;
    font-weight: bolder;
      opacity:1;
    pointer-events: none;
        -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;

  }
    .rera_regis>#contact{
    border-bottom:0px solid black;
  }
  #comment1{
    line-height: 1.0;
  }
  #clickcaptcha{
    cursor: pointer;
  }
  #contact-btn>.btn-lg{
    padding-bottom: 10px;
     margin-top: 12px;
  }
  .page p{
    font-size: 13px;
}
.about .text{
    top:0;
        position: relative;
}
.about ul li {
color: #888;
font-size:13px;
line-height: 22px;
}
@media only screen and (min-width: 768px){
.navbar-right {
        /* margin-top: 20px; */
}
}
.form-control {
    color: #444;
    font-size:13px;
}
a:focus, a:hover {
    text-decoration: none;
    cursor: pointer;
    }
    
.dropbtn {
    display: inline-block;
    color:#fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

 .dropdown:hover .dropbtn {
    background-color:none;
}



.drop-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 179.5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-content a {
    color: #333;
    text-transform: uppercase;
    font-family:'Oswald', sans-serif;
    font-size:13.45px;
    font-weight: 400;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-top: 1px solid #7fb9ff;
}

.drop-content a:hover {
    background-color: #7fb9ff;
}

.dropdown:hover .drop-content {
    display: block;
}
.website{
    color:#b8e9fe;
}
.website:hover,.website:focus{
     color:#03f7d5;
}
/*for disclamer*/
   .icon-wrap {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    font-size: 40px;
    color: #999;
    line-height: 1;
}
    .close-dis {
    position: absolute;
    right: 25px;
    top: -18px;
    font-size: 20px;
    cursor: pointer;
}
.d-ib {
    display: inline-block;
    width: calc(100% - 83px);
    vertical-align: middle;
    font-size: 12px;
}
/*.disclamer{
    position: fixed;
    height: 100px;
    padding: 25px 50px;
    bottom:-19px;
    width: 100%;
    background:#f7f3f3;
    border:1px solid #e2e2e2;
    text-align:justify;
        z-index: 999;
}*/
.disclaimer{
    position: fixed;
    right:0px;
    left:0px;
   bottom: -53px;
    background: #e5e5e5;
    z-index: 999;
    padding:5px;
    transition:.5s;
    animation-name: example;
    animation-delay: 2s;
    animation-duration:10s;
    animation-iteration-count: 1;
}

@keyframes example {
    0%   {bottom:0px;}
    25%  {bottom:0px;}
    50%  {bottom:0px;}
    100% {bottom:-53px;}
}

.dis-style-onload{
   bottom:0px;
}
.dis-icon i {
margin-top: 2px;
    font-size: 35px;
    color: #9f9d9d;
}
.disclaimer p {
    font-size: 10px;
    text-align: justify;
    padding-top: 5px;
}
.dis-pad-right{
    padding-right:0px;
    
}
.dis-pad-left{
    padding-left:5px;
}
.disclaimer h6{
    cursor:default;
    padding: 5px;
    float: right;
    position: relative;
   bottom:34px;
    background: #7fb9ff;
    /* left: 46px; */
    /* margin-bottom: 15px; */
    color: white;
}
html,body{
    overflow-x:hidden;
}
@media only screen and (max-width:360px) and (min-width:321px){
     .disclaimer h6 {
        float: none;
    display: inline;
    bottom: 26px;
    }
    .disclaimer{
       position: fixed;
       right:0px;
       left:0px;
       bottom: -152px;
       animation-name: example;
       animation-delay: 2s;
       animation-duration:10s;
       animation-iteration-count: 1;
    }
    @keyframes example {
          0%   {bottom:0px;}
    25%  {bottom:0px;}
    50%  {bottom:0px;}
    100% { bottom: -152px;}
    }
.dis-style-onload{
   bottom:0px;
}
    }

    
    @media only screen and (max-width:320px) {

.disclaimer h6 {
        float: none;
    display: inline;
    bottom: 61px;
    }
 .disclaimer{
       position: fixed;
       right:0px;
       left:0px;
       bottom: -203px;
       animation-name: example;
       animation-delay: 2s;
       animation-duration:10s;
       animation-iteration-count: 1;
    }
    @keyframes example {
          0%   {bottom:0px;}
    25%  {bottom:0px;}
    50%  {bottom:0px;}
    100% { bottom: -203px;}
    }
    .dis-style-onload{
   bottom:0px;
}
}

  @media only screen and (max-width:375px) and (min-width:361px) {

.disclaimer h6 {
        float: none;
    display: inline;
   bottom: 26px;
    }
 .disclaimer{
       position: fixed;
       right:0px;
       left:0px;
       bottom: -140px;
       animation-name: example;
       animation-delay: 2s;
       animation-duration:10s;
       animation-iteration-count: 1;
    }
    @keyframes example {
          0%   {bottom:0px;}
    25%  {bottom:0px;}
    50%  {bottom:0px;}
    100% { bottom: -140px;}
    }
    .dis-style-onload{
   bottom:0px;
}
    
}

 @media only screen and (max-width:411px) and (min-width:376px) {

.disclaimer h6 {
        float: none;
    display: inline;
   bottom: 26px;
    }
 .disclaimer{
       position: fixed;
       right:0px;
       left:0px;
       bottom: -140px;
       animation-name: example;
       animation-delay: 2s;
       animation-duration:10s;
       animation-iteration-count: 1;
    }
    @keyframes example {
          0%   {bottom:0px;}
    25%  {bottom:0px;}
    50%  {bottom:0px;}
    100% { bottom: -140px;}
    }
    .dis-style-onload{
   bottom:0px;
}
    
}





@media only screen and (max-width:600px){
   .dis-icon i {
    /* display: none; */
    margin-top: 20px;}
    
   .dis-pad-right{
        padding-right:-15px;
    }
     .dis-pad-left{
        padding-left:-15px;  
     }
}
.fa-ange{
      color:#427fb6;
    font-size: 50px;
    position: fixed;
    bottom: 40px;
    z-index: 9999;
    padding: -20px;
    padding: 25px -18px;
    right: 25px;
}
.fa-ange-b{
      color:#999999;
    font-size: 46px;
    position: fixed;
    bottom:-3px;
    z-index: 999;
    padding: -20px;
    padding: 25px -18px;
    right: 25px;
}
#show .fa{
animation:animate 2s linear infinite;

}
.about h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    margin: 0px 0px 25px 0px;
    position: absolute;
    padding: 0 0 15px 0;
    top: 22px;
  }
  .rera_regis .contact_heading:after {
    float: left;
    width: 160px;
    height: 4px;
    background: url(../images/img1.png) no-repeat;
    display: inline-block;
    content: '';
    position: absolute;
    left: 43%;
    top: 100%;
       
    }
    .contact_heading{
     margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: #333333;
    text-transform: uppercase;
    margin: 0px 0px 15px 0px;
    position: relative;
    padding: 0 0 10px 0;
        }
        
        
/*for top builder section*/        
@media only screen and (width:360px){
  .top_build{
  min-height: 100vh;  
  }
}
@media only screen and (width:411px){
 .top_build{
  min-height: 87vh;  
  }
}
@media only screen and (width:320px){
 .top_build{
  min-height: 114vh;  
  }
}
@media only screen and (width:360px){
 .top_build{
  min-height: 100vh;  
  }
}
@media  screen and (width:375px) and (height: 667px){
  .top_build{
  min-height: 95vh;  
  }
}
@media only screen and (width:414px){
 .top_build{
  min-height: 88vh;  
  }
}
@media only screen and (width:1024px){
 .top_build{
  min-height: 31vh;  
  }
}
@media only screen and (width:524px){
 .top_build{
  min-height: 178vh;  
  }
}
@media only screen and (width:768px){
 .top_build{
  min-height: 63vh;
  }
}
@media only screen and (min-width:769px) and (max-width:524px){
 .top_build{
  min-height:60vh;
  }
}
/*for h1 h2 tag*/
.home_cat h3{font-family: 'Oswald', sans-serif; font-size:24px; color:#333333; text-transform:uppercase; 
             margin:0px 0px 15px 0px; position:relative; padding:0 0 10px 0; text-align:center;}
.home_cat h3:after{float:left; width:160px; height:4px; background:url(../images/img1.png) no-repeat; display:inline-block;
                   content:''; position:absolute; left:43%; top:100%;}
                   .value_add h3{font-family: 'Oswald', sans-serif; font-size:30px; color:#fff; text-transform:uppercase; 
              margin:0px 0px 25px 0px; position:relative; padding:0 0 15px 0; text-align:center;}
.value_add h3:after{float:left; width:160px; height:4px; background:url(../images/img1.png) no-repeat; display:inline-block;
                    content:''; position:absolute; left:43%; top:100%;}
/*h3 about*/
.h3about{
font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    margin: 0px 0px 25px 0px;
    position: absolute;
    padding: 0 0 15px 0;
    top: 22px;}
.rera_regis h1{font-family: 'Oswald', sans-serif; font-size:24px; color:#333333; text-transform:uppercase; 
               margin:0px 0px 15px 0px; position:relative; padding:0 0 10px 0;}
.rera_regis h1:after{float:left; width:160px; height:4px; background:url(../images/img1.png) no-repeat; display:inline-block;
                     content:''; position:absolute; left:43%; top:100%;} 
.sch_tab h3{font-family: 'Oswald', sans-serif; font-size:24px; color:#333333; text-transform:uppercase; 
            margin:0px 0px 15px 0px; position:relative; padding:0 0 10px 0; text-align:center;}
.sch_tab h3:after{float:left; width:160px; height:4px; background:url(../images/img1.png) no-repeat; display:inline-block;
                  content:''; position:absolute; left:43%; top:100%;}
.top_build2 h3{font-family: 'Oswald', sans-serif; font-size:24px; color:#fff; text-transform:uppercase; 
              margin:0px 0px 15px 0px; position:relative; padding:0 0 10px 0; text-align:center;}
.top_build2 h3:after{float:left; width:160px; height:4px; background:url(../images/img1.png) no-repeat; display:inline-block;
                    content:''; position:absolute; left:43%; top:100%;}
/*land pooling*/
.land-heading{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    margin: 0px 0px 25px 0px;
    padding: 0 0 15px 0;
}
