
.tabs {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 40px;
  width: 100%;
  background-color: #3b878d;/*00bcd4f5f5f5*/
  margin: 0 auto;
  white-space: nowrap;
}
/*.tabs-cont{margin-bottom:15px;}*/
.tabs.tabs-transparent {
  background-color: transparent;
}

.tabs.tabs-transparent .tab a,
.tabs.tabs-transparent .tab.disabled a,
.tabs.tabs-transparent .tab.disabled a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.tabs.tabs-transparent .tab a:hover,
.tabs.tabs-transparent .tab a.active {
  color: rgba(255, 255, 255, 0.7);
}

.tabs.tabs-transparent .indicator {
  background-color: #fff;
}

.tabs.tabs-fixed-width {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tabs.tabs-fixed-width .tab {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.tabs .tab {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  height: 40px;
  padding: 5px 0 0;
  margin: 0;
  text-transform: uppercase;
  width:24.75%;
}

.tabs .tab a {
  color: rgba(255, 255, 255, 0.7);
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .28s ease;
  
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  /*color: #fff;536dfe ee6e73 background:rgba(0,188,212,0.51);*/
  color: rgba(255, 255, 255, 1);
  
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
  color: rgba(238, 110, 115, 0.7);
  cursor: default;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #ff4081;/*f6b2b5 536dff*/
  will-change: left, right;
}

.check-radio{display: block;position: relative;padding-left: 30px;margin-bottom:3px;margin-top:20px; cursor: pointer;font-size: 16px; font-weight: 400;}
.check-radio input[type="checkbox"],input[type="radio"] {position: absolute;z-index: -1;opacity: 0;}
.check-radio-indicater{position: absolute;top: 2px;left: 0;height: 25px;width: 25px;background: #e6e6e6;border: 1px solid #d1d1d1;}
.ta-radio .check-radio-indicater {border-radius: 50%;}
.check-radio:hover input ~ .check-radio-indicater,
.check-radio input:focus ~ .check-radio-indicater {background: #ccc;}
.check-radio input:checked ~ .check-radio-indicater {background: #2aa1c0;}
.check-radio:hover input:not([disabled]):checked ~ .check-radio-indicater,
.check-radio input:checked:focus ~ .check-radio-indicater{background: #0e647d;}
.check-radio input:disabled ~ .check-radio-indicater {background: #e6e6e6;opacity: 0.6;pointer-events: none;}
.check-radio-indicater:after {content: '';position: absolute;display: none;}
.check-radio input:checked ~ .check-radio-indicater:after {display: block;}
.ta-checkbox .check-radio-indicater:after {left: 8px;top: 2px;width: 8px;height: 16px;border: solid #fff;border-width: 0 2px 2px 0;transform: rotate(40deg);}
.ta-checkbox input:disabled ~ .check-radio-indicater:after {border-color: #7b7b7b;}
.ta-radio .check-radio-indicater:after {left: 6px;top: 6px;height: 11px;width: 11px;border-radius: 50%;background: #fff; border: 1px solid #2aa1c0;}
.ta-radio input:disabled ~ .check-radio-indicater:after {background: #7b7b7b;}
 

.select {position: relative;display: inline-block;margin-bottom: 15px;width: 100%;}
/*------------select box---------*/
.select>select {display: inline-block;width: 100%;cursor: pointer;padding: 10px 15px;outline: 0;border: 0;border-radius: 0;background: #e6e6e6;color: #7b7b7b;
				appearance: none;-webkit-appearance: none;-moz-appearance: none;}
.select>select::-ms-expand {display: none;}
.select>select:hover,.select>select:focus {color: #000;background: #ccc;}
.select>select:disabled {opacity: 0.5;pointer-events: none;}
.select-arrow {position: absolute;top: 16px;right: 15px;width: 0;height: 0;pointer-events: none;border-style: solid;border-width: 8px 5px 0 5px;
			   border-color: #7b7b7b transparent transparent transparent;}
.select>select:hover ~ .select-arrow,
.select>select:focus ~ .select-arrow {border-top-color: #000;}
.select>select:disabled ~ .select-arrow {border-top-color: #ccc;}   	
.lstrating .fa {
    color: #ffb400;
    float: left;
    font-size: 30px;
    margin-right: 5px;
	cursor:pointer;
}
.title-tab{font-size: 18px;font-weight: 400; margin-top: 10px !important; margin-bottom: 0px;}
@media only screen and (max-width: 992px) {
  .tabs {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .tabs .tab {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .tabs .tab a {
    padding: 0 12px;
  }
}


ul.tab{
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
        /*height: 32px;*/
        border-bottom: 1px solid #d9dddd;
        width: 100%;
}

ul.tab li {
        float: left;
        /*margin: 0 5px 0 0;*/
        cursor: pointer;
        padding: 0px 21px;
        height: 32px;
        line-height: 28px;
        border-top: 1px solid #d9dddd;
        border-left: 1px solid #d9dddd;
        border-right: 1px solid #d9dddd;
        border-bottom: 1px solid #d9dddd;
        background-color: #f0f0f0 ;
        color: #555;
        overflow: hidden;
        position: relative;
        /*border-radius: 10px 10px 0 0;*/
        text-transform: uppercase;
        width: 25%; text-align: center;       
}
ul.tab li span.point{/*background:rgba(55,127,143,1); border-radius:50px;*/ padding: 2px 4px; color:#3e3e3e; margin: 2px 0 0 5px; font-size: 13px;}
ul.tab li.active span.point{/*background:rgba(255,255,255,1); border-radius:50px;*/ padding: 2px 4px; color:#fff; margin: 2px 0 0 5px; font-size: 13px;}
.tab_last { border-right: 1px solid #d9dddd; }

ul.tab li:hover {
        background-color: #ccc;
        color: #333;
}

ul.tab li.active {
        background-color: #a6a6a6;
        color: #fff;
        border-bottom: 2px solid #a6a6a6;
        display: block;
        height: 32px;
        line-height: 28px;
        border-right: 1px solid #d9dddd
}

.tab_container {
/*        border: 1px solid #d9dddd;*/
        border-top: none;
        clear: both;
        float: left;
        width: 100%;
        background: #fff;
        overflow: auto;
        margin-top: -1px;
        position: relative;
        border-radius: 0px;
}

.tab_content {
        padding: 20px;
        display: none;border: 1px solid #d9dddd;
}

.tab_drawer_heading { display: none; }
.e_active{background-color: #cf2a27 !important; color: #fff;}
@media screen and (max-width: 768px) {
	ul.tab li {
		padding: 0px 12.4px;
	}
}
@media screen and (max-width: 480px) {
        .tab {
                display: none;
        }
        .tab_drawer_heading {
                background-color: #50b085;
                color: #fff;
                border-top: 1px solid #d9dddd;
                margin: 0;
                padding: 10px 20px;
                display: block;
                cursor: pointer;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
        }
        .d_active {
                background-color: #377f8f;
                color: #fff;
        }
        