<div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3>Green Homes Category</h3>
    </div>
    </div>
    
    <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><a class="home_link" href="">2/3 BHK</a></div>
    
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><a class="home_link" href="">4/5 BHK</a></div>
    
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><a class="home_link" href="">Villas</a></div>
    
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><a class="home_link" href="">Farm Houses</a></div>
    </div>
    